/* إعداد الخط */
body {
    font-family: 'Amiri', serif;
    margin: 0;
    background-color: white;
    color: #03045E;
}

/* إزالة المسافات الافتراضية */
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    color: #03045E;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 60px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #03045E;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
    }

    .nav-links.open {
        display: flex;
    }
}
